* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
body{
  overflow-x: hidden;
}

.main {
  height: 100vh;
  width: 100%;
  background-image: url("https://static.wixstatic.com/media/84770f_caf7d704d774479b9d154220c65cf27f~mv2_d_3000_1688_s_2.jpg/v1/fill/w_1905,h_902,al_c,q_85,usm_0.66_1.00_0.01,enc_avif,quality_auto/84770f_caf7d704d774479b9d154220c65cf27f~mv2_d_3000_1688_s_2.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

nav {
  height: 100px;
  width: 100%;
}

.l {
  height: 100vh;
  width: 100%;
  margin-left: 500px;
  margin-top: 100px;

}


.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 40px;
}

.logo-section {
  display: flex;
  align-items: center;
}

.logo-box {
  width: 55px;
  height: 55px;
  background-color: #232323;
  position: relative;
  margin-right: 15px;
}

.logo-box::after {
  content: "";
  width: 8px;
  height: 8px;
  background-color: #f2a891;
  border-radius: 50%;
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.name-title {
  display: flex;
  flex-direction: column;
}

.name-title h1 {
  font-size: 24px;
  font-weight: bold;
  color: #222;
}

.name-title p {
  font-size: 16px;
  color: #222;
}

.nav-section {
  display: flex;
  align-items: center;
  gap: 25px;
  font-size: 16px;
  color: #222;
}

.nav-section a {
  text-decoration: none;
  color: #222;
}

.nav-section i {
  font-size: 18px;
  cursor: pointer;
}

.min {
  align-items: center;
  /* display: flex; */
  margin-left: 200px;
  margin-top: 310px;
  font-size: 30px;
}

.mainpagebutton {
  padding: 15px 20px;
  background-color: transparent;
  border: 2px solid black;
  color: black;
  border-radius: 60px;
  font-size: 15px;
}

.mainpagebutton:hover {
  text-decoration: underline;
}

.page2-img {
  position: relative;
}
.l h1 {
  font-size: 50px;
  margin-top: -400px;
  margin-left: 500px;
  margin-bottom: 200px;
}

.l h2 {
  margin-left: 600px;
  align-items: center;
  display: flex;
  margin-top: -200px;
  margin-bottom: 200px;
}

.l p {
  margin-left: 600px;
  margin-top: -180px;
}

.mani {
  font-size: 20px;
  display: flex;
  justify-content: center;
}

/* .num-01 h1{
  font-size: 100px;
  opacity: 20px;
  color: rgba(249, 184, 195, 0.736);} */
.num-01 h1 {
  position: relative;
  font-size: 230px;
  /* opacity: 20px; */
  color: rgba(249, 184, 195, 0.515);
}
.number-text{
  display: flex;
  justify-content: space-between;
  padding-inline: 200px;
  margin-top: 100px;
}
.num-01 p {
  position: absolute;
  margin-top: -170px;
  font-size: 25px;
  margin-left: 90px;
}

.num-02 h1 {
  position: relative;
  font-size: 230px;
  color: rgba(248, 165, 248, 0.525);
}

.num-02 p {
  position: absolute;
  margin-top: -180px;
  font-size: 25px;
  margin-left: 90px;
}
.num-03 h1 {
  position: relative;
  font-size: 230px;
  /* opacity: 20px; */
  color: rgba(165, 243, 248, 0.525);
}

.num-03 p {
  position: absolute;
  margin-top: -170px;
  font-size: 25px;
  margin-left: 90px;
}
.num-text-btn{
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding: 15px 20px;
  background-color: transparent;
  border: 2px solid black;
  color: black;
  border-radius: 60px;
  font-size: 15px;
  margin-left: 46%;
  margin-top: 100px;
}
.num-text-btn:hover {
  text-decoration: underline;
}
.peoplesay-page{
  background-color: rgba(0, 137, 115, 0.366);
  width: 95%;
  margin-left: 50px;
  padding: 100px 50px;
  margin-top: 50px;
}
.peoplesay-page h1{
  display: flex;
  justify-content: center;
  font-size: 40px;
}
.peoplesay-page p{
  display: flex;
  justify-content: center;
  margin-top: 50px;
  font-size: 60px;
  text-align: center;
}
.box2 h1{
  font-size: 40px;
  align-items: center;
  text-align: center;
  margin-top: 100px;
}
.img{
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-inline: 200px ;
    align-items: center;
    margin-top: 10px;
}
.container {
  display: flex;
  justify-content: center;
  height: 70vh;
  margin-bottom: 80px;
}

.right {
  padding: 60px 40px;
  width: 50%;
}

.left-contener {
  background-color: #1a0804;
  color: rgb(209, 199, 199);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.left h2 {
  font-size: 24px;
  margin-bottom: 30px;
  font-weight: bold;
}

.left label {
  font-size: 16px;
  margin-bottom: 8px;
  display: inline-block;
}

.left input[type="email"] {
  padding: 10px;
  width: 100%;
  max-width: 400px;
  border: 1px solid #f1a78b;
  background: none;
  margin-bottom: 15px;
  color: white;
}

.checkbox-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.checkbox-container input {
  margin-right: 10px;
}

.send-btn {
  background-color: #f1a78b;
  color: black;
  border: none;
  padding: 12px 40px;
  border-radius: 25px;
  font-size: 18px;
  cursor: pointer;
  max-width: 200px;
  margin-bottom: 30px;
}

.contact-info p {
  font-size: 14px;
  margin: 10px 0;
}

.social-icons {
  margin-top: 20px;
}

.social-icons i {
  font-size: 20px;
  margin-right: 15px;
  cursor: pointer;
}

.right {
  background-color: #f1a78b;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.right h2 {
  font-size: 22px;
  text-align: center;
  margin-bottom: 30px;
  font-weight: bold;
}

.reserve-btn {
  padding: 15px 30px;
  font-size: 18px;
  background-color: transparent;
  border: 2px solid #49526b;
  border-radius: 30px;
  cursor: pointer;
}

.plant {
  position: absolute;
  right: 60px;
  bottom: 60px;
  width: 120px;
}

.clips {
  position: absolute;
  left: 60px;
  bottom: 60px;
  width: 100px;
}